/*---------------------
     VARIABLES
----------------------*/

$color-theme: #d3a971;
$color-body: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;
$color-heading: #282828;
$color-dark: #222222;
$color-gray: #f9f9f9;

$font-primary: 'Poppins';
$font-secondary: 'Yeseva One';
$font-thirdy: 'Kristi';
$body-font-size: 14px;